$background: #121212;
$text: #8a8f98;
$card-bg: #202022;

@import 'global.scss';

.container {
  display: block;
  margin: auto;
  max-width: 1200px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 4rem 2rem;
}

.journey-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  padding-right: 4rem;

  img {
    max-width: 20rem;
    border-radius: 50%;
  }

  h1 {
    padding: 2rem 0rem;
    font-size: 4rem;

    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    font-size: 1.4rem;
    max-width: 70rem;
  }

  .social {
    ul {
      padding-top: 2rem;
      display: flex;
      align-items: center;

      li {
        position: relative;
        padding: 0 0.4rem 0.4rem;

        &:not(:nth-child(1)) {
          margin-left: 1rem;
        }

        &:hover::after {
          width: 100%;
        }

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          height: 1px;
          background: white;

          transition: width 0.3s ease;
        }
      }

    }
  }
}

.card {
  display: block;
  background: $card-bg;
  max-width: 700px;

  padding: 3rem;
  border-radius: 25px;
  margin-bottom: 2rem;

  &__title {
    font-size: 2.4rem;
    padding-bottom: 1rem;
  }

  &:hover {
    transform: scale(1.1, 1.1);
  }
}